.app {
  min-height: 100vh;
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
}
.app.light {
  background-color: white;
  color: black;
}
.app.dark {
  background-color: #222;
  color: white;
}

.app.dark h1,
.app.dark h2,
.app.dark p,
.app.dark p {
  color: white;
}
.app.dark h2 {
  color: white;
}

.app.dark button {
  padding: 8px 12px;
  margin: 10px 0;
  cursor: pointer;
}